/* 
 */

@font-face {
    font-family: 'Manophiser'; 
    src: url('fonts/Manophiser.otf'); 
}

@font-face {
    font-family: 'Ringbearer'; 
    src: url('fonts/Ringbearer.ttf'); 
}


/* global parameter */
body {
    color: #adadad;
    background-color: #fefefe;
}


/* main slide and header menu*/

#we-present {
    color: black;
}

#we-present button {
    background-color: orange;
    color: white;
    border-radius: 15px;
}

.carousel-inner {
    background-color: #d1cfc2;
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel .we-menu {
    margin-top: 1em;
    font-size: x-large;
}


.carousel a {
    color: #fefefe;
    text-shadow: 1px 1px 2px black;
}

.carousel a:visited {
    color: #fefefe;
}

.carousel a:active {
    color: #fefefe;
}

.carousel .we-menu a:hover {
    color: #fefefe;
    border-bottom: 4px solid orange;
    text-decoration: none;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
    padding-top: 9rem; 
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.we-title {
    font-family: 'Ringbearer';
    text-shadow: 1px 1px 2px white;
    color: #433625;
}

.we-title h1 {
    font-size: 6em;
}

.we-title h2 {
    font-size: 3em;
}

/**/
#we-support {
    text-align: center;
    height: 32rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#we-support-title {
    margin-bottom: 6rem;
}

#we-support button {
    margin-top: 6rem;
    border-color: black;
    color: black;
    border-radius: 15px;
}

#we-support button:hover {
    background-color: white;
}

/**/
#we-rules {
    height: 20rem;
    background-image: url('img/forest.jpg');
    background-position: center;
    background-size: cover;
    color: #fefefe;
    text-shadow: 1px 1px 2px black;
    font-family: 'Ringbearer';
    /* align-items: flex-end;
    display: flex;*/
}

/**/
#we-are-safe {
    background-image: url('img/green-back.jpg');
    background-size: cover;
    color: #fefefe;
    padding-bottom: 3em;
    padding-top: 3em;
}

#we-are-safe .container {
    margin-bottom: 1rem;
}

#we-are-safe img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#we-are-safe-content {
    margin-top: 3rem;
}

#we-are-safe button {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    border-color: white;
}

#we-are-safe button:hover {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    border-color: white;
}

.was-content {
    height: 20rem;
}

/**/
#we-configure {
    color: black;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

#we-configure h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#we-configure p {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/**/
#we-integrate {
    height: 32rem;
    background-image: url('img/brown-back.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/**/
#we-use {
    padding-top: 2rem;
    color: black;
    padding-bottom: 2rem;
}

/**/
#we-contact {
    padding-top: 2em;
    color: white;
    background-image: url('img/geek.jpg');
    background-size: none;
    background-position: top;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}

#we-contact-title {
    padding-top: 3em;
}

#we-contact-about {
    
    color: black;
    background-color: white;
    opacity: 0.8;
    width: 20rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 1em;
    padding-bottom: 0;
}

/**/
#we-subscribe {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #8f8475;
}

#we-subscribe form {
    margin-top: 3rem;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

#we-subscribe input {
    background-color: #8f8475;
    border-size: 0;
    border-style: none;
    color: white;
    border-radius: 10px 0px 0px 10px;    
}

#we-subscribe-form {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#we-subscribe button {
    background-color: white;
    color: #8f8475;
    border-style: none;
    border-radius: 0px 9px 9px 0px;
}

#ws-form {
    background-color: #8f8475;
    padding: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
}

/**/
#we-footer {
    padding-top: 3rem;
    background-color: #282828;
    color: white;
    padding-bottom: 3rem;
    font-size: small;
}

#we-footer h1 {
    font-size: large;
    padding-bottom: 1em;
}

#we-footer p {
    font-size: small;
}

#we-footer img {
    padding: 0.1em;
}


/**/
#we-copyright {
    background-color: #191919;
}

